DATABASE_URL="postgresql://postgres.[PROJECT_REF]:[PASSWORD]@[REGION].pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1&schema=public"
DIRECT_URL="postgresql://postgres.[PROJECT_REF]:[PASSWORD]@db.[PROJECT_REF].supabase.co:5432/postgres?schema=public"
SUPABASE_URL="https://[PROJECT_REF].supabase.co"
SUPABASE_SERVICE_ROLE_KEY="isi-service-role-key"
SUPABASE_STORAGE_BUCKET="public-assets"
ADMIN_PASSWORD="ganti-password-ini"
ADMIN_SESSION_SECRET="ganti-dengan-random-panjang"
NEXT_PUBLIC_SITE_URL="https://domain-kamu.com"